body {
  background-color: #202020;
}

.menu-item {
  border: 1px solid #ffffff;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #d4af37;
  border-radius: 8px;
}

.menu {
  max-width: 800px;
  margin: 0 auto;
}

.titre_menu h1,
.menu-category_title,
.menu-item_title,
.menu-item h3 {
  color: #ff0000;
}

.menu-item_price {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.menu-item_ingredients {
  color: #000000;
  font-style: italic;
  font-weight: bold;
}
